@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@font-face {
    font-family: 'Alta';
    src: url('../assets/Alta_Font/Alta_regular.otf');
}

* {
    margin: 0px;
    padding: 0px;
    
    box-sizing: border-box;
}

:root {
    --white: white;
    
    --text-primary: black;
    --text-secondary: white;
    --text-terciary: #15281E;
    --text-fourth: #a3bdb0;
    --text-fifth: #dca72e;
    
    --background-primary: #fff;
    --background-secondary: #070C0E;
    --background-terciary: #15281E;
    --background-fourth: #a3bdb0;
    --background-fifth: #dca72e;

    --def-transition-duration: .2s;
}

body {
    overflow-x: hidden;
}

::selection {
    background-color: var(--background-fourth);
    color: var(--text-secondary);
}